---
apiVersion: v1
kind: Secret
metadata:
  name: consul
  namespace: kube-system
  labels:
    app.kubernetes.io/instance: consul
    app.kubernetes.io/name: consul
type: Opaque
data:
  gossip-key: "{{ consul.gossip_key | b64encode }}"
