---
apiVersion: v1
data:
  gossip-key: "{{ consul.gossip_key | b64encode }}"
kind: Secret
metadata:
  labels:
    app.kubernetes.io/instance: consul
    app.kubernetes.io/name: consul
  name: consul-gossip-key
  namespace: kube-system
type: Opaque
