---
apiVersion: v1
kind: Secret
metadata:
  name: kubernetes-vault
  namespace: kube-system
  labels: &labels
    app.kubernetes.io/name: kubernetes-vault
    app.kubernetes.io/instance: kubernetes-vault
stringData:
  kubernetes-vault.yml: |
    vault:
      addr: https://vault:8200
      token: {{ kubernetes_vault.token }}
      tls:
        caCert: /etc/ssl/certs/hannahs.family.ca.cert.pem

    kubernetes:
      watchNamespace: ${KUBERNETES_NAMESPACE}
      serviceNamespace: ${KUBERNETES_NAMESPACE}
      service: kubernetes-vault

    prometheus:
      tls:
        vaultCertBackend: pki
        vaultCertRole: kubernetes-vault
