---
apiVersion: v1
kind: Secret
metadata:
  name: vault-tls
  namespace: kube-system
  labels:
    app.kubernetes.io/instance: vault
    app.kubernetes.io/name: vault
type: Opaque
data:
  cert.pem: "{{ vault.cert | b64encode }}"
  key.pem: "{{ vault.key | b64encode }}"
