---
apiVersion: v1
kind: Secret
metadata:
  name: vault-secrets-webhook
  namespace: kube-system
  labels:
    app.kubernetes.io/instance: vault-secrets-webhook
    app.kubernetes.io/name: vault-secrets-webhook
data:
  ca.crt: {{ vault_secrets_webhook["ca.crt"] | b64encode }}
  tls.crt: {{ vault_secrets_webhook["tls.crt"] | b64encode }}
  tls.key: {{ vault_secrets_webhook["tls.key"] | b64encode }}

---
apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingWebhookConfiguration
metadata:
  name: vault-secrets-webhook
  namespace: kube-system
  labels:
    app.kubernetes.io/instance: vault-secrets-webhook
    app.kubernetes.io/name: vault-secrets-webhook
webhooks:
  - clientConfig:
      caBundle: {{ vault_secrets_webhook["ca.crt"] | b64encode }}
      service:
        name: vault-secrets-webhook
        namespace: kube-system
        path: /pods
    failurePolicy: Ignore
    name: pods.vault-secrets-webhook.admission.banzaicloud.com
    namespaceSelector:
      matchLabels:
        vault-injection: enabled
    rules:
      - apiGroups:
          - "*"
        apiVersions:
          - "*"
        operations:
          - CREATE
        resources:
          - pods
  - clientConfig:
      caBundle: {{ vault_secrets_webhook["ca.crt"] | b64encode }}
      service:
        name: vault-secrets-webhook
        namespace: kube-system
        path: /secrets
    failurePolicy: Ignore
    name: secrets.vault-secrets-webhook.admission.banzaicloud.com
    namespaceSelector:
      matchLabels:
        vault-injection: enabled
    rules:
      - apiGroups:
          - "*"
        apiVersions:
          - "*"
        operations:
          - CREATE
          - UPDATE
        resources:
          - secrets
    sideEffects: NoneOnDryRun
