[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
importmagic = "*"

[packages]
hannah-family-infrastructure = {editable = true,path = "."}
invoke = "*"
passlib = "*"
pyyaml = "*"

[requires]
python_version = "3.8"
