[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
importmagic = "*"
pylint = "*"
yapf = "*"

[packages]
hannah-family-infrastructure = {editable = true,path = "."}

[requires]
python_version = "3.8"
