---
apiVersion: v1
kind: Secret
metadata:
  name: vanilla-creative
  namespace: minecraft
  labels:
    app.kubernetes.io/instance: vanilla-creative
    app.kubernetes.io/name: minecraft
data:
  rconPassword: "{{ minecraft.vanilla_creative.rcon_password | b64encode }}"
