---
apiVersion: v1
kind: Secret
metadata:
  name: vanilla
  namespace: minecraft
  labels:
    app.kubernetes.io/instance: vanilla
    app.kubernetes.io/name: minecraft
data:
  rconPassword: "{{ minecraft.vanilla.rcon_password | b64encode }}"
